<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.message || "Error" %> | Mini Message Board</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/error.css">
  </head>
  <body>
    <img src="/alert.svg" alt="" class="error-icon">
    <h1 class="error-message"><%= locals.message || "Something Went Wrong" %></h1>
    <p></p>
    <a href="/" class="home-link">Go Back Home</a>
  </body>
</html>