<%- include("partials/header", { title: `${locals.message || "Error"} | Mini Message Board`, styles: ["error"] }) %>

<img src="/alert.svg" alt="" class="error-icon" />
<h1 class="error-message"><%= locals.message || "Something Went Wrong" %></h1>
<p></p>
<a href="/" class="home-link">Go Back Home</a>

<%- include("partials/footer") %>
