<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Message | Mini Message Board</title>
  </head>
  <body>
    <h1>Add a New Message</h1>
    <div>
      <form action="/new" method="POST">
        <div>
          <label for="user">Name</label>
          <input type="text" name="user" id="user">
        </div>
        
        <div>
          <label for="text">Message</label>
          <input type="text" name="text" id="text">
        </div>

        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>

