html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error-icon {
  filter: invert(47%) sepia(18%) saturate(1527%) hue-rotate(102deg)
    brightness(92%) contrast(88%);
  height: 50px;
  width: 50px;
}

.error-message {
  background: initial;
  text-align: center;
}

.home-link {
  background-color: var(--bg-green);
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background-color: var(--bg-green-hover);
  }
}
